body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url("sunset.jpg");
    background-size: cover;
    justify-content: center;
    overflow: hidden;
}

h2 {

    text-transform: uppercase;
    text-shadow: 2px 2px 4px;
    letter-spacing: 3px;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
}

.clock span {
    width: 60px;
    height: 80px;
    position: relative;
    background-color: rgba(33, 1, 69, 0.992);
    opacity: .8;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

}

.clock .text {
    height: 30 px;
    font-size: 15px;
    background-color: rgb(106, 45, 185);
}

.clock #ampm {
    bottom: 0;
    margin-top: 123px;
    background-color: rgba(9, 1, 25, 0.736);
    height: 40px;
    width: 35px;
    font-size: 20px;




}